html, body {
	height:100%;
	width:auto;	
}	
body {
    background-image: url(Assets/Images/MartianLookingAPlanet.svg);
    background-size: cover;	
	background-repeat: no-repeat;
	background-position: center;    
    margin: 0 auto;    
}

.elonmartian {
	font-family: "elonmartian";
	font-size:36pt;
	color: rgba(255,255,255,0.7);	
}

@font-face {
    font-family: "elonmartian";
    src: url(Fonts/Spac3_neon.ttf) format("truetype");
}

.glow {
    text-shadow: -2px -2px 5px #00B2EE, 2px 2px 5px #00B2EE, 4px 4px 5px #00B2EE, -4px -4px 5px #00B2EE;  
}

.hoverglow:hover {
    transition:.5s;
    font-size:64pt;
    text-shadow: -2px -2px 5px #bf7fbf, 2px 2px 5px #bf7fbf, 4px 4px 5px #bf7fbf, -4px -4px 5px #bf7fbf,-6px -6px 5px #bf7fbf, 6px 6px 5px #bf7fbf;  
}

.pulse {
	height: 2em;
	width: 2em;
    animation-name: pulse_thinger;
    animation-duration: 10000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse_thinger {
    0% { transform: scale(0); }	    
	50% { transform: scale(3);}
    100% { transform: scale(0); }	
}

.pulse_musk:hover {
	font-size:64pt;
    animation-name: pulse_trap;
    animation-duration: 1000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse_trap {
    0% { transform: scale(1); }	    
	50% { transform: scale(1.009);}
    100% { transform: scale(1); }	
}

.p{
     position:fixed;
     right:0em;  
     top:3.125em;
     width:0.125em;
     height:0.125em;
     background-color: rgb(189,37,108);
     position:fixed;
     animation-name:particleAnimation;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
}

@keyframes particleAnimation
{
    from{
        top: 1em;
        -webkit-transform: rotate(315deg);
    }
    to{
        top: 100rem;
        right: 100rem;
        -webkit-transform: rotate(315deg);
    }
}

.p::before{
     position:absolute;
     display:block;
     content:"";
     width:10em;
     left:.0625em;
     top:0em;
     height:0.125em;  
     background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(255,0,255,0.4) 100%); 
}
.p-1{
     animation-duration:20s;     
     right:5em;
}

.pv2{
     position:fixed;     
     right:0em;  
     top:25em;     
     bottom:10em;
     width:.125em;
     height:.125em;
     background-color: rgb(189,37,108);     
     position:fixed;
     animation-name:particleAnimation2;     
     animation-timing-function: linear;
     animation-iteration-count: infinite;
}

.pv2:before{
    position:absolute;
     display:block;
     content:"";
     width:10em;
     left:.0625em;
     top:0em;
     height:0.125em;  
    background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(255,0,255,0.4) 100%);    
}

@keyframes particleAnimation2{
    from {
        top: 25em;
        -webkit-transform: rotate(315deg);
    }
    to {
        top: 50em;        
        right: 25em;        
        -webkit-transform: rotate(315deg);        
    }          
}

.pv2-1{      
    animation-duration:10s;
    top:25em;
}